/* theme.module.css */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  /* background-color: red; */
  /* width: 100%; */
  /* flex-basis: 10%; */

}

.input {
  width: 35rem;
  padding: 1px;
  border: 2px solid white;
  border-radius: 4px;
  background: transparent;
  font-weight: bolder;
}



@media(max-width:890px){
  .input{
    width: 30rem;
  }
} 

@media(max-width:500px){
.input{
  width: 18rem;
 
}}
 @media(max-width:426px){
  .input{
    width: 15rem;
  }
}
 @media(max-width:370px){
  .input{
    width: 13rem;
  }
}


.suggestionsContainer {
  position: absolute;
  top: 120%;
  left: 0;
  width: 20rem;
  border: 1px solid black;
  background-color: white;
  /* z-index: 1; */
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  color: red;
}

.suggestionHighlighted {
  background-color: #ddd;
}


